

.btn-blue{
    background-color: #5F95D0!important;
    color:#6B7378!important;
    border: none !important;
    border-radius: 0!important;
    align-content: right!important;
    align-self: right!important;
    margin-right: 3;

    
}