.logoName{
    font-family: fantasy;
    font-size: xx-large;
}
.form-inline{
    color: white;
}

.navbar{
    background-color: transparent!important;

}
.navlink a{
    color: white!important;
}
.navbar a:hover{
    color:white!important;
}